@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

#footer {
  position: relative;
  bottom: 0%;
  left: 0%;
  text-align: center;
}

h1 {
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.ad-responsive {
  width: 100%;
  max-width: 728px;
  height: auto;
  min-height: 90px;
  margin: 20px auto;
}

#markdown-container {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  max-width: 700px;
  margin: 20px auto;
  color: #333;
}
#markdown-container h1,
h2,
h3 {
  color: #000000;
}
#markdown-container a {
  color: rgb(60, 60, 255);
  text-decoration: none;
}

.nav-link.active {
  color: #0077cc;
  font-weight: bold;
  border-bottom: 2px solid #0077cc;
}

.nav-link {
  color: #333;
  transition: all 0.3s;
}

.nav-link:hover {
  color: #005fa3;
}

#navbarNav {
  font-size: large;
  font-style: inherit;
}

.content {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
}

.ad-left {
  padding-left: 25px;
  position: fixed;
  left: 15x;
  top: 180px;
  width: 160px;
  height: 600px;
  background: transparent;
  z-index: 999;
}

.ad-right {
  padding-right: 25px;
  position: fixed;
  right: 10px;
  top: 180px;
  width: 160px;
  height: 600px;
  background: transparent;
  z-index: 999;
}

.ad-bottom {
  width: 100%;
  padding: 10px 0;
  position: static;
  bottom: 100;
  background: #fff;
  text-align: center;
  z-index: 999;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
}

@media all and (max-width: 800px) {
  main,
  aside {
    float: none;
    width: 100%;
  }

  #mobile-nav-button {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 44px;
    height: 44px;
    font-weight: bold;
    line-height: 44px;
    text-align: center;
    cursor: pointer;
    display: none;
    color: white;
  }

  main,
  aside {
    width: 100%;
    float: none;
  }

  #main-nav {
    position: absolute;
    top: 44px;
    height: 100%;
    width: 0;
    transition: width 0.5s;
    z-index: 100;
  }

  #main-nav li {
    overflow: hidden;
  }

  #main-nav.show {
    width: 250px;
  }

  #main-nav ul li {
    display: block;
  }

  #mobile-nav-button {
    display: block;
  }

  #content {
    display: block;
  }
}
