#footer {
  position: relative;
  bottom: 0%;
  left: 0%;
  text-align: center;
}

h1 {
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping to next line on small screens */
  gap: 20px; /* Space between cards */
  justify-content: center;
}

.card img {
  width: 100%; /* makes image span full card width */
  height: 200px; /* fixed height */
  object-fit: cover;
}

.ad-responsive {
  width: 100%;
  max-width: 728px; /* desktop */
  height: auto;
  min-height: 90px;
  margin: 20px auto;
}

#markdown-container {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  max-width: 700px;
  margin: 20px auto;
  color: #333;
}
#markdown-container h1,
h2,
h3 {
  color: #000000;
}
#markdown-container a {
  color: rgb(60, 60, 255);
  text-decoration: none;
}

.nav-link.active {
  color: #0077cc; /* text color for active link */
  font-weight: bold; /* make it stand out */
  border-bottom: 2px solid #0077cc; /* underline effect */
}

.nav-link {
  color: #333; /* default link color */
  transition: all 0.3s; /* smooth hover effect */
}

.nav-link:hover {
  color: #005fa3;
}

#navbarNav {
  font-size: large;
  font-style: inherit;
}
